<div class="bgimg" style="margin-top: 70px;">
    <div class="text"  style="margin-left: 60px;height:500px;text-align: center;">
       <div style="padding-top: 100px;"></div>
        
        <h3 style="font-weight: 500;margin-left: 5px;">Are you looking for Solutions to Engineering Problems???</h3>
        
        <h1 style="font-size: 50px;
        font-family: Helvetica;
        
        font-weight: 900;">Welcome to MechSol Consultants</h1>
        
        <h2>We provide you the Highest Quality Work that</h2>
        <h1>Meets your Expectations.</h1>
    </div>
</div>