<div style="background-color: rgb(77, 81, 97);padding-top: 20px;height: 500px;" >
<div class="text" style="margin-left: 20px;text-align: center;">
    
    <h1 style="font-weight: 500;"> For any information or related queries, contact us at the below address:</h1>
    <h3 class="styleH3"><p><i class="pi pi-map-marker" style="font-size: 40px;"></i> MechSol Consultants,</p>
    <p class="addr">8/2/22, Arabindo Sarani, 5th Floor, </p>
    <p class="addr">P.O. Dum Dum,  24 Parganas (N)</p>
    <p class="addr">Kolkata 700028, India</p>
    <p><i class="fa fa-mobile" style="font-size:30px;"></i>  &nbsp;&nbsp;&nbsp;&nbsp;     91-9920961627</p>
</h3>
</div>
</div>
