<div style="height:600px;    margin-top: 30px;">
<!-- <div class= "textOther"  style="margin-left: 20px;height: 100%;width: 50%;left: 0;">
   
    <p-tabView>
        <p-tabPanel header="Design" leftIcon="fa fa-cogs" >
            <p-listbox [options]="designs"  optionLabel="name"></p-listbox>
        </p-tabPanel>
        <p-tabPanel header="Analysis" leftIcon="fa fa-balance-scale">
            <p-listbox [options]="analysis"  optionLabel="name"></p-listbox>
        </p-tabPanel>
        <p-tabPanel header="Solution" leftIcon="fa fa-wrench" >
            <p-listbox [options]="solutions"  optionLabel="name"></p-listbox>
        </p-tabPanel>
    </p-tabView>
</div> -->
<div class="serviceBg">
    <div   style="margin-left: 20px;height: 100%;width: 38%;float: left;">
            <h2 style="color: rgb(77, 81, 97);font-weight: 600;"><i class="fa fa-cogs" style="font-size: 30px;"></i>
                &nbsp; Design</h2>
            <p-listbox [options]="designs"  optionLabel="name"></p-listbox>
    </div>
    <div   style="height: 100%;width: 24%;float: left;">
            <h2 style="color: rgb(77, 81, 97);font-weight: 600;"><i class="fa fa-balance-scale" style="font-size: 30px;"></i>
                &nbsp; Analysis</h2>
            <p-listbox [options]="analysis"  optionLabel="name"></p-listbox>
    </div>
    <div  style="height: 100%;width: 25%;float: right;">
            <h2 style="color: rgb(77, 81, 97);font-weight: 600;"><i class="fa fa-wrench" style="font-size: 30px;"></i>
                &nbsp; Solution</h2>
            <p-listbox [options]="solutions"  optionLabel="name"></p-listbox>
    </div>
</div>
<!-- <div  style="
  position: fixed;
  margin-left: 20px;height: 100%;width: 50%;right: 0;">
  
  <div style="height: 150px;"></div>
  <img src="././assets/images/service_1.png" style="height: 120px;width: 200px;position: absolute;"/>
  <img src="././assets/images/service_2.jpg" style="height: 100px;width: 120px;"/>
  <img src="././assets/images/service_3.png" style="height: 250px;width: 300px;"/>
  <img src="././assets/images/service_4.jpg" style="height: 120px;width: 120px;position: absolute;"/>
  <img src="././assets/images/service_5.png" style="height: 120px;width: 200px;"/>
</div> -->

</div>
